@use 'util' as *
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap')

$font:  'Bai Jamjuree', sans-serif

.App
    padding: 2rem
    font-family: $font
    color: $grayish_blue
    text-align: center
    background: url('src/assets/images/bg-header-mobile.png') no-repeat

    section
        display: grid
        justify-content: center
        gap: 1rem
        padding: 3rem 0 5rem

    img
        justify-self: center
        padding: 2.5rem 0

    h1
        color: $dark_grayish_blue
        font-size: 2rem
        font-weight: 600
        line-height: 1.25

    h2
        @extend h1
        font-size: 1.75rem

    h3
        @extend h1
        font-size: 1.5rem

    p
        line-height: 1.75
        padding: 0 0.5rem

.Features

    img
        width: 100%

    .Icon
        width: 3.125rem

.Footer
    display: grid
    background: lighten($light_blue, 29%)
    justify-items: center
    text-align: center
    gap: 3rem
    font-family: inherit
    padding: 4rem 0 3rem

    img
        width: 3rem

    ul
        display: grid
        gap: 2rem
        font-family: $font
        color: $dark_grayish_blue

.Socials
    display: grid
    grid-auto-flow: column
    gap: 2rem
    
    img
        width: 1.5rem