@use 'util' as *
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap')

$font:  'Bai Jamjuree', sans-serif

.App
    display: grid
    padding: 1.75rem
    font-family: $font
    color: $grayish_blue
    text-align: center
    background: url('src/assets/images/bg-header-mobile.png') no-repeat
    background-size: 100%

    section
        display: grid
        justify-content: center
        gap: 1.5rem
        padding: 3rem 0 5rem

    img
        justify-self: center
        padding: 2rem 0

    h1
        color: $dark_grayish_blue
        font-size: 1.75rem
        font-weight: 600
        line-height: 1.25

    h2
        @extend h1
        font-size: 1.75rem

    h3
        @extend h1
        font-size: 1.5rem

    p
        font-size: 1rem
        line-height: 1.75

.Features

    img
        width: 100%

    .Icon
        width: 3.125rem

.SubFeatures
    margin: 0 0 8rem
    
    h3
        margin: 1rem 0 0.5rem

    p
        margin: 0 0 3rem

.Download
    
    h1
        font-size: 1.75rem

.Footer
    display: grid
    background: lighten($light_blue, 29%)
    justify-items: center
    text-align: center
    gap: 3rem
    font-family: inherit
    padding: 4rem 0 3rem

    img
        width: 3rem

    ul
        display: grid
        gap: 2rem
        font-family: $font
        color: $dark_grayish_blue

.Socials
    display: grid
    grid-auto-flow: column
    gap: 2rem
    
    img
        width: 1.5rem


// tablet and desktop displays (landscape)
@include width(1080)
    .App
        background: url('src/assets/images/bg-header-desktop.png') no-repeat
        padding: 0

        section
            align-content: center
            justify-items: center
            min-height: 100vh
            grid-auto-rows: min-content

        h1
            font-size: 2.75rem
            line-height: 1

        p
            max-width: 45rem
            font-size: 1.25rem

        .Features
            background: pink
            padding: 6rem 0

            p
                max-width: 50rem
            
            img
                width: 80%

        .SubFeatures
            display: grid
            grid-template-columns: repeat(2, auto)
            align-items: center
            text-align: left
            gap: 8rem
            margin-top: 2rem
            position: relative
            left: -6rem

            div
                grid-column: 2  

            h3
                font-size: 1.5rem

            p
                max-width: 340px
                font-size: 1rem

            img
                width: 100%